<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg4-a</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).example-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>H264 Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.newchromantics.h264stream</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).example-document</string>
		</dict>
	</array>
<key>LSSupportsOpeningDocumentsInPlace</key>
 <true/>
<key>UTImportedTypeDeclarations</key>
 <array>
  <dict>
   <key>UTTypeConformsTo</key>
   <array>
    <string>public.content</string>
    <string>public.data</string>
   </array>
   <key>UTTypeDescription</key>
   <string>H264 Stream</string>
   <key>UTTypeIconFiles</key>
   <array>
   </array>
   <key>UTTypeIdentifier</key>
   <string>com.newchromantics.h264stream</string>
   <key>UTTypeTagSpecification</key>
   <dict>
    <key>public.filename-extension</key>
    <array>
     <string>h264</string>
    </array>
    <key>public.mime-type</key>
    <array>
     <string>data/com.newchromantics.h264stream</string>
    </array>
   </dict>
  </dict>
 </array>


	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
